*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
*.o
*.a
/bin/
/build/
/dist/
/release/
/coverage/
coverage*.out
*.cover
*.coverprofile
profile.cov
*.pprof
debug
*.log
.env
.env.*
.envrc
.tmp/
tmp/
.cache/
**/.DS_Store
Thumbs.db
.idea/
.vscode/
.vscode-test/
.fleet/
*.iml
